@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap");
body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  background: #f5f5f5; }

* {
  outline: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: 0;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear; }

.nav-left {
  width: 250px;
  position: fixed;
  top: 0;
  padding: 30px;
  box-shadow: -1.9px 4.6px 10px 0 rgba(0, 0, 0, 0.05);
  left: 0;
  background: #ffffff;
  border-right: 1px solid #f5f5f5;
  height: 100%; }
  .nav-left .logo {
    text-align: center; }
    .nav-left .logo img {
      width: 120px;
      margin: auto; }

.search {
  width: 100%;
  background: #f5f5f5;
  margin: 20px 0 50px 0;
  height: 40px;
  border-radius: 2px; }
  .search input {
    width: 100%;
    height: 40px;
    background: none;
    border: 0;
    padding: 0 10px;
    font-size: 13px;
    color: #343b41; }
    .search input:focus {
      background: #ffffff;
      border: 1px solid #ddd !important; }

.danhmuc {
  padding: 0 0 20px 0; }
  .danhmuc h2 {
    text-transform: uppercase;
    color: #ababab;
    font-size: 11px;
    margin: 0;
    font-weight: 500;
    padding: 0;
    margin-bottom: 10px; }
  .danhmuc ul {
    margin: 0;
    padding: 0; }
    .danhmuc ul li {
      display: inline-block;
      width: 100%;
      padding: 5px 0;
      list-style: none; }
      .danhmuc ul li a {
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        color: #343b41;
        padding: 15px 0; }
      .danhmuc ul li:hover a, .danhmuc ul li.active a {
        color: #ff675a; }

.author {
  text-align: left;
  margin-top: 30px; }
  .author span {
    display: inline-block;
    width: 100%; }
  .author p {
    margin: 10px 0 5px 0;
    color: #343b41; }
  .author a img {
    width: 100%;
    margin-bottom: 5px; }
  .author h1 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 10px; }

.copyright {
  width: 100%;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  text-align: left;
  font-size: 12px; }

.body-content {
  background: #f5f5f5;
  padding-left: 250px; }
  .body-content .box-columns {
    flex-wrap: wrap;
    display: flex; }
    .body-content .box-columns .item-news {
      width: 33.33333333%;
      display: inline-block; }
      .body-content .box-columns .item-news a img {
        width: 100%; }
      .body-content .box-columns .item-news__content .infor-blogs {
        padding: 30px; }
        .body-content .box-columns .item-news__content .infor-blogs span {
          color: #5d6268;
          font-size: 12px;
          opacity: .6; }
        .body-content .box-columns .item-news__content .infor-blogs:hover h3 a {
          color: #ff675a; }
      .body-content .box-columns .item-news__content h3 {
        line-height: 20px;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        padding: 0; }
        .body-content .box-columns .item-news__content h3 a {
          text-transform: uppercase;
          color: #343b41;
          text-decoration: none;
          font-size: 16px; }
      .body-content .box-columns .item-news__content p {
        font-size: 14px;
        line-height: 23px;
        color: #5d6268; }
    .body-content .box-columns .item-news:nth-child(even) {
      background: #ffffff !important; }

.avatar-blogs {
  position: relative;
  text-align: center; }
  .avatar-blogs span {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    top: 0;
    padding: 20px;
    color: #ffffff;
    font-size: 14px;
    display: grid;
    text-transform: uppercase;
    align-items: center;
    opacity: 0;
    visibility: hidden; }
  .avatar-blogs:hover span {
    background-color: rgba(242, 103, 92, 0.9);
    visibility: visible;
    opacity: 1; }

.view-more {
  display: inline-block;
  width: 100%;
  margin: 20px 0 35px 0;
  text-align: center; }
  .view-more a {
    width: 160px;
    height: 49px;
    background: #ffffff;
    display: inline-table;
    text-decoration: none;
    color: #343b41;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    padding: 16px 0;
    box-shadow: -1.9px 4.6px 10px 0 rgba(0, 0, 0, 0.05); }
    .view-more a i {
      font-size: 15px;
      color: #343b41; }
    .view-more a:hover {
      background: #ff675a;
      color: #ffffff; }
      .view-more a:hover i {
        color: #ffffff; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #e8e8e8;
  border: 1px solid #f5f5f5;
  color: white;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 4px; }
  #myBtn i {
    color: #343b41;
    font-size: 20px; }
  #myBtn:hover {
    background: #ff675a; }
    #myBtn:hover i {
      color: #ffffff; }

.detail-page {
  display: inline-block;
  width: 100%; }
  .detail-page .head-detail {
    height: 300px;
    background: url(../images/artversion-website-design-1.jpg) no-repeat center top;
    width: 100%;
    background-size: cover; }
    .detail-page .head-detail img {
      width: 100%; }

.content-detail__body {
  padding: 30px;
  float: left;
  background: #ffffff; }
  .content-detail__body h1 {
    font-size: 26px;
    text-transform: uppercase;
    margin: 0px 0 10px 0; }

.date {
  margin-bottom: 40px; }
  .date img {
    height: 12px;
    opacity: .5;
    float: left;
    margin: 4px 5px 0 0; }
  .date span {
    color: #5d6268;
    opacity: .7;
    font-size: 12px; }

.content-blogs {
  display: inline-block;
  width: 100%; }
  .content-blogs h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px; }
  .content-blogs p {
    font-size: 16px;
    margin-bottom: 20px; }
  .content-blogs img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 20px; }
  .content-blogs label {
    text-align: right;
    width: 100%;
    font-style: italic;
    font-weight: 300;
    font-size: 12px; }

.menu-sumary {
  float: left; }
  .menu-sumary__content {
    padding-top: 30px; }
    .menu-sumary__content a {
      width: 100%;
      color: #5d6268;
      font-size: 13px;
      display: inline-block;
      width: 100%;
      padding: 4px 0;
      text-align: right;
      text-decoration: none; }
      .menu-sumary__content a:hover {
        color: #ff675a; }
    .menu-sumary__content #navbar {
      right: 10px; }
      .menu-sumary__content #navbar h6 {
        text-transform: uppercase;
        color: #5d6268;
        font-size: 12px;
        opacity: .7;
        font-weight: 700;
        padding-bottom: 4px;
        margin-bottom: 20px;
        width: auto;
        float: right;
        text-align: right; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }
  .sticky h6 {
    padding-top: 30px; }

.sticky + .content {
  padding-top: 60px; }

.detail-mb {
  display: none; }

.share-social {
  float: right; }
  .share-social a {
    color: #5d6268;
    text-decoration: none; }
    .share-social a:nth-child(1):hover i, .share-social a:nth-child(1):hover span {
      color: #415a93; }
    .share-social a:nth-child(2):hover i, .share-social a:nth-child(2):hover span {
      color: #4aa1eb; }
    .share-social a:nth-child(3):hover i, .share-social a:nth-child(3):hover span {
      color: #3176b0; }
    .share-social a:nth-child(4):hover i, .share-social a:nth-child(4):hover span {
      color: #3888c6; }
  .share-social i, .share-social span {
    font-size: 12px;
    color: #5d6268; }
  .share-social i {
    font-size: 15px;
    margin-left: 10px; }

.icon-menu-mb {
  display: none; }

.other-blogs {
  width: 100%;
  display: inline-block;
  background: #f5f5f5;
  padding-bottom: 20px; }
  .other-blogs button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 20px 0 5px 0;
    outline: none;
    cursor: pointer;
    padding: 12px; }
    .other-blogs button i {
      font-size: 15px; }
    .other-blogs button:hover {
      background: #ff675a; }
      .other-blogs button:hover i {
        color: #ffffff; }
  .other-blogs a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #5d6268;
    font-size: 12px; }
    .other-blogs a:hover {
      color: #ff675a; }
  .other-blogs .blogs-next button {
    float: left; }
  .other-blogs .blogs-next:hover button {
    background: #ff675a; }
  .other-blogs .blogs-next:hover i {
    color: #ffffff; }
  .other-blogs .blogs-next:hover a {
    color: #ff675a; }
  .other-blogs .blogs-prev a {
    text-align: right; }
  .other-blogs .blogs-prev button {
    float: right; }
  .other-blogs .blogs-prev:hover button {
    background: #ff675a; }
  .other-blogs .blogs-prev:hover i {
    color: #ffffff; }
  .other-blogs .blogs-prev:hover a {
    color: #ff675a; }
  .other-blogs .col-md-6 {
    float: left; }

.comment {
  position: relative;
  margin: 20px 0; }
  .comment h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #343b41; }
  .comment textarea {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    height: 100px; }
    .comment textarea:focus {
      background: #fff;
      border: 1px solid #c3c3c3; }
  .comment input {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    width: 100%;
    font-size: 13px;
    padding: 10px;
    height: 35px; }
    .comment input:focus {
      background: #fff;
      border: 1px solid #c3c3c3; }
  .comment .form-group {
    padding: 0 5px !important; }
  .comment .row {
    margin-left: -5px !important;
    margin-right: -5px !important; }
  .comment button {
    padding: 5px 28px;
    background: #ff675a;
    border: 1px solid #ff675a;
    color: #ffffff;
    float: right;
    border-radius: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500; }
    .comment button:hover {
      background: #ff675a;
      border: 1px solid #ff675a;
      color: #ffffff;
      opacity: .8; }

.tags {
  display: inline-block;
  margin: 20px 0;
  width: 100%;
  border-top: 1px solid #dfdfdf;
  padding-top: 15px; }
  .tags span {
    color: #343b41;
    font-weight: 700;
    margin-right: 10px;
    font-size: 12px; }
  .tags a {
    color: #5d6268;
    font-size: 12px;
    padding: 0 2px; }

.social-profile {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 10px; }
  .social-profile a {
    padding: 0 10px 0 0;
    display: table-cell; }
    .social-profile a i {
      font-size: 14px;
      color: #5b6065;
      width: 30px;
      height: 30px;
      display: inline-table;
      border-radius: 50%;
      background: #dfdfdf;
      padding: 4px; }
      .social-profile a i:hover {
        color: #ffffff; }
    .social-profile a:nth-child(1) i:hover {
      background: #415a93; }
    .social-profile a:nth-child(2) i:hover {
      background: #3176b0; }
    .social-profile a:nth-child(3) i:hover {
      background: #4aa1eb; }
    .social-profile a:nth-child(4) i:hover {
      background: #eb3223; }

.stt {
  color: green;
  float: left;
  left: 0;
  margin-top: 10px; }

.comment-list {
  display: inline-block;
  width: 100%;
  margin-top: 30px; }
  .comment-list ul li {
    list-style: none; }
    .comment-list ul li .avatar-comment {
      position: absolute;
      left: 0;
      top: 0; }
      .comment-list ul li .avatar-comment img {
        width: 60px;
        height: 60px;
        border-radius: 50%; }
    .comment-list ul li .infor-comment {
      width: 100%; }
      .comment-list ul li .infor-comment strong {
        font-weight: 700;
        color: #5d6268; }
      .comment-list ul li .infor-comment p {
        color: #5d6268; }
    .comment-list ul li .comment-top1 {
      position: relative;
      padding-left: 80px;
      margin-bottom: 40px;
      padding-top: 10px; }
    .comment-list ul li .comment-top2 {
      position: relative;
      padding-left: 120px;
      padding-top: 10px;
      margin-bottom: 40px; }
      .comment-list ul li .comment-top2 .avatar-comment {
        position: absolute;
        left: 40px;
        top: 0; }
    .comment-list ul li .comment-top3 {
      position: relative;
      padding-left: 190px;
      padding-top: 10px;
      margin-bottom: 40px; }
      .comment-list ul li .comment-top3 .avatar-comment {
        position: absolute;
        left: 110px;
        top: 0; }
    .comment-list ul li button {
      border-radius: 0;
      cursor: pointer; }

.reply {
  display: inline-block;
  width: 100%; }
  .reply .icon-reply {
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: .7;
    width: 100%;
    font-size: 12px; }
    .reply .icon-reply i {
      font-size: 15px;
      color: #343b41; }
    .reply .icon-reply:hover {
      color: #ff675a; }
      .reply .icon-reply:hover i {
        color: #ff675a; }

.box-reply {
  display: none; }
  .box-reply textarea {
    height: 65px; }

.show-box-reply {
  display: block !important;
  position: relative; }

.field-name {
  position: absolute;
  bottom: -35px;
  left: 0; }
  .field-name input {
    float: left;
    width: 45%;
    margin-right: 10px; }

.fixed {
  position: fixed;
  top: 0;
  right: 0; }

.Phone {
  position: relative;
  display: block;
  margin: 0;
  width: 1em;
  height: 1em;
  font-size: 70px;
  background-color: #ff675a;
  border-radius: 0.5em;
  box-shadow: 0 0 0 0em rgba(255, 103, 90, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2);
  transform: translate3d(0, 0, 0) scale(1); }

.Phone::before,
.Phone::after {
  position: absolute;
  content: ""; }

.Phone::before {
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(0); }

.Phone::after {
  top: 0.25em;
  left: 0.25em;
  width: 0.5em;
  height: 0.5em;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0); }

.Phone.is-animating {
  animation: phone-outer 3000ms infinite; }
  .Phone.is-animating::before {
    animation: phone-inner 3000ms infinite; }
  .Phone.is-animating::after {
    animation: phone-icon 3000ms infinite; }

@keyframes phone-outer {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2); }
  33.3333% {
    transform: translate3d(0, 0, 0) scale(1.1);
    box-shadow: 0 0 0 0em rgba(52, 152, 219, 0.1), 0em 0.05em 0.1em rgba(0, 0, 0, 0.5); }
  66.6666% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0.5em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2); }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    box-shadow: 0 0 0 0em rgba(52, 152, 219, 0), 0em 0.05em 0.1em rgba(0, 0, 0, 0.2); } }
@keyframes phone-inner {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0); }
  33.3333% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0.9); }
  66.6666% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0); }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(0); } }
@keyframes phone-icon {
  0% {
    transform: translate3d(0em, 0, 0); }
  2% {
    transform: translate3d(0.01em, 0, 0); }
  4% {
    transform: translate3d(-0.01em, 0, 0); }
  6% {
    transform: translate3d(0.01em, 0, 0); }
  8% {
    transform: translate3d(-0.01em, 0, 0); }
  10% {
    transform: translate3d(0.01em, 0, 0); }
  12% {
    transform: translate3d(-0.01em, 0, 0); }
  14% {
    transform: translate3d(0.01em, 0, 0); }
  16% {
    transform: translate3d(-0.01em, 0, 0); }
  18% {
    transform: translate3d(0.01em, 0, 0); }
  20% {
    transform: translate3d(-0.01em, 0, 0); }
  22% {
    transform: translate3d(0.01em, 0, 0); }
  24% {
    transform: translate3d(-0.01em, 0, 0); }
  26% {
    transform: translate3d(0.01em, 0, 0); }
  28% {
    transform: translate3d(-0.01em, 0, 0); }
  30% {
    transform: translate3d(0.01em, 0, 0); }
  32% {
    transform: translate3d(-0.01em, 0, 0); }
  34% {
    transform: translate3d(0.01em, 0, 0); }
  36% {
    transform: translate3d(-0.01em, 0, 0); }
  38% {
    transform: translate3d(0.01em, 0, 0); }
  40% {
    transform: translate3d(-0.01em, 0, 0); }
  42% {
    transform: translate3d(0.01em, 0, 0); }
  44% {
    transform: translate3d(-0.01em, 0, 0); }
  46% {
    transform: translate3d(0em, 0, 0); } }
.phone-action {
  position: fixed;
  bottom: 25px;
  right: 15px; }

.pagging-section {
  display: inline-block;
  margin: 50px 0 30px 0;
  text-align: center;
  width: 100%; }
  .pagging-section .pagination {
    display: -webkit-inline-box !important; }
  .pagging-section .page-link {
    border: 0 !important;
    background: none !important;
    color: #343b41;
    padding: 10px 15px !important; }
    .pagging-section .page-link.active {
      padding: 10px 15px !important;
      border: 1px solid #b2b2b2 !important; }

/*# sourceMappingURL=style.css.map */
