@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap");
@media only screen and (max-width: 1025px) {
  .author {
    margin-top: 0; }

  .search {
    width: 100%;
    background: #f5f5f5;
    margin: 20px 0 20px 0;
    height: 40px;
    border-radius: 2px; } }
@media only screen and (max-width: 993px) {
  .nav-left {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 5px 15px;
    height: 99px;
    z-index: 1;
    box-shadow: -1.9px 4.6px 10px 0 rgba(0, 0, 0, 0.05); }

  .logo {
    text-align: center; }
    .logo img {
      width: 100px !important; }

  .author {
    text-align: left;
    margin-top: 0; }

  .mobile-nav {
    position: fixed;
    width: 250px;
    left: -300px;
    top: 0;
    background: #fff;
    padding: 30px;
    height: 100%;
    padding-top: 80px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear; }

  .icon-menu-mb i.ti-close {
    display: none; }

  .menu-sumary {
    display: none; }

  .phone-action {
    position: fixed;
    bottom: 15px;
    right: 15px; }

  #myBtn {
    display: none !important; }

  .view-more {
    display: inline-block;
    width: 100%;
    margin: 30px 0 35px 0;
    text-align: center; }

  .body-content .box-columns .item-news__content p {
    display: none; }

  .body-content .box-columns .item-news__content h3 a {
    font-size: 13px; }

  .other-blogs .blogs-prev button {
    float: left; }

  .other-blogs .blogs-prev a {
    text-align: left; }

  .other-blogs .blogs-prev {
    float: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px; }

  .other-blogs .blogs-next button {
    float: right; }

  .other-blogs .blogs-next a {
    text-align: right; }

  .show-menu-mobile {
    opacity: 1;
    left: 0;
    visibility: visible;
    overflow-y: auto; }

  .show-icon-mobile i.ti-close {
    display: block; }
  .show-icon-mobile i.ti-menu {
    display: none; }

  .body-content {
    padding-left: 0;
    margin-top: 100px; }

  .icon-menu-mb {
    display: block;
    position: fixed;
    top: 40px;
    left: 15px; }
    .icon-menu-mb i {
      font-size: 20px;
      color: #343b41;
      position: absolute;
      left: 15px;
      top: 0; }

  .body-content .box-columns .item-news {
    width: 50%; }

  .body-content .box-columns .item-news__content .infor-blogs {
    padding: 15px; }

  .search {
    margin: 0px 0 20px 0; }

  .author a img {
    width: 150px;
    margin-bottom: 5px; }

  .Phone {
    display: block; }

  .content-detail__body {
    padding: 30px 15px; }

  .detail-page {
    width: 100%;
    float: left; }

  .comment {
    position: relative;
    margin: 20px 0 80px 0; }

  .bg-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #343b41;
    opacity: .8;
    left: 0;
    display: none;
    top: 0; }

  .show-bg-mobile {
    display: block !important; }

  .copyright {
    margin-top: 3px; } }

/*# sourceMappingURL=responsive.css.map */
