@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap');
@mixin gradient {
    background-image: linear-gradient(to top, #fe4c64, #ff5b5d, #ff6957, #ff7753, #ff8450);
}
$brand1: #ff675a;
$white: #ffffff;
$black: #343b41;
$black2: #5d6268; 
$bg: #f5f5f5; 
$color-gray: #b2b2b2; 
body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background: $bg;
}
*{
    outline: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.nav-left{
    width: 250px;
    position: fixed;
    top: 0;
    padding:30px;
    box-shadow: -1.9px 4.6px 10px 0 rgba(0, 0, 0, 0.05);
    left: 0;
    background: $white;
    border-right: 1px solid $bg;
    height: 100%;
    .logo{
        text-align: center;
        img{
            width: 120px;
            margin: auto;
        }
    }
}

.search{
    width: 100%;
    background: $bg;
    margin: 20px 0 50px 0;
    height: 40px;
    border-radius: 2px;
    input{
        width: 100%;
        height: 40px;
        background: none;
        border: 0;
        padding: 0 10px;
        font-size: 13px;
        color: $black;
        &:focus{
            background: $white;
            border: 1px solid #ddd !important;
        }
    }
}
.danhmuc{
    padding: 0 0 20px 0;
    h2{
        text-transform: uppercase;
        color: #ababab;
        font-size: 11px;
        margin: 0;
        font-weight: 500;
        padding: 0;
        margin-bottom: 10px;
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            width: 100%;
            padding: 5px 0;
            list-style: none;
            a{
                font-size: 14px;
                font-weight: 600;
                text-decoration: none;
                color: $black;
                padding: 15px 0;
            }
            &:hover, &.active{
                a{
                    color: $brand1;
                }
            }
        }
    }
}
.author{
    text-align: left;
    margin-top: 30px;
    span{
        display: inline-block;
        width: 100%;
    }
    p{
        margin: 10px 0 5px 0;
        color: $black;
    }
    a{
        img{
            width: 100%;
            margin-bottom: 5px;
        }
    }
    h1{
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        margin-top: 10px;
    }
}
.copyright{
    width: 100%;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    text-align: left;
    font-size: 12px;
}
.body-content{
    background: $bg;
    padding-left: 250px;
    .box-columns{
        flex-wrap: wrap;
        display: flex;
        .item-news{
            width: 33.33333333%;
            display: inline-block;
            a{
                img{
                    width: 100%;
                }
            }
            &__content{
                .infor-blogs{
                    span{
                        color: $black2;
                        font-size: 12px;
                        opacity: .6;
                    }
                    padding:30px;
                    &:hover{
                        h3{
                            a{
                                color: $brand1;
                            }
                        }
                    }
                }
                h3{
                    line-height: 20px;
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 20px;
                    a{
                        text-transform: uppercase;
                        color: $black;
                        text-decoration: none;
                        font-size: 16px;
                    }
                    
                    padding: 0;
                }
                p{
                    font-size: 14px;
                    line-height: 23px;
                    color: $black2;
                }
            }
        }
        .item-news:nth-child(even){
            background: $white !important;
        }
        
    }
}
.avatar-blogs{
    position: relative;
    text-align: center;
    span{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        transition: all .2s linear;
        top: 0;
        padding: 20px;
        color: $white;
        font-size: 14px;
        display: grid;
        text-transform: uppercase;
        align-items: center;
        opacity: 0;
        visibility: hidden;
    }
    &:hover{
        span{
            background-color: rgba(242, 103, 92, 0.9);
            visibility:visible;
            opacity: 1;
        }
    }
}
.view-more{
    display: inline-block;
    width: 100%;
    margin: 20px 0 35px 0;
    text-align: center;
    a{
        width: 160px;
        height: 49px;
        background: #ffffff;
        display: inline-table;
        text-decoration: none;
        color: #343b41;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        transition: all .2s linear;
        padding: 16px 0;
        box-shadow: -1.9px 4.6px 10px 0 rgba(0, 0, 0, 0.05);
        i{
            font-size: 15px;
            color: $black;
        }
        &:hover{
            background: $brand1;
            color: $white;
            i{
                color: $white;
            }
        }
    }
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#e8e8e8;
    border: 1px solid $bg;
    color: white;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    i{
        color: $black;
        font-size: 20px;
    }
    &:hover{
        background: $brand1;
        i{
            color: $white;
        }
    }
  }
  .detail-page{
      display: inline-block;
      width: 100%;
      .head-detail{
          height: 300px;
          background: url(../images/artversion-website-design-1.jpg) no-repeat center top;
          width: 100%;
          background-size: cover;
          img{
              width: 100%;
          }
      }
  }
  .content-detail{
      &__body{
          padding: 30px;
          float: left;
          background: $white;
          h1{
              font-size: 26px;
              text-transform: uppercase;
              margin: 0px 0 10px 0;
          }
      }
  }
  .date{
      margin-bottom: 40px;
      img{
          height: 12px;
          opacity: .5;
          float: left;
          margin: 4px 5px 0 0;
      }
      span{
          color: $black2;
          opacity: .7;
          font-size: 12px;
      }
  }
  .content-blogs{
      display: inline-block;
      width: 100%;
      h2{
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 20px;
      }
      p{
          font-size: 16px;
          margin-bottom: 20px;
      }
      img{
          width: 100%;
          border-radius: 4px;
          margin-bottom: 20px;
      }
      label{
            text-align: right;
            width: 100%;
            font-style: italic;
            font-weight: 300;
            font-size: 12px;
      }
  }

  

  

.menu-sumary{
    float: left;
    &__content{
        padding-top: 30px;
        a{
            width: 100%;
            color: $black2;
            font-size: 13px;
            display: inline-block;
            width: 100%;
            padding: 4px 0;
            text-align: right;
            text-decoration: none;
            &:hover{
                color: $brand1;
            }
        }
        #navbar{
            right: 10px;
            h6{
                text-transform: uppercase;
                color: $black2;
                font-size: 12px;
                opacity: .7;
                font-weight: 700;
                padding-bottom:4px;
                margin-bottom: 20px;
                width: auto;
                float: right;
                text-align: right;
            }
        }
    }
}

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    h6{
        padding-top: 30px;
    }
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  .detail-mb{
    display: none;
}
.share-social{
    float: right;
    a{
        color: $black2;
        text-decoration: none;
        &:nth-child(1){
            &:hover{
                i,span{
                    color: #415a93;
                }
            }
        }
        &:nth-child(2){
            &:hover{
                i,span{
                    color: #4aa1eb;
                }
            }
        }
        &:nth-child(3){
            &:hover{
                i,span{
                    color: #3176b0;
                }
            }
        }
        &:nth-child(4){
            &:hover{
                i,span{
                    color: #3888c6;
                }
            }
        }
    }
    i,span{
        font-size: 12px;
        color: $black2;
    }
    i{
        font-size: 15px;
        margin-left: 10px;
    }
}
.icon-menu-mb{
    display: none;
}
.other-blogs{
    width: 100%;
    display: inline-block;
    background: #f5f5f5;
    padding-bottom: 20px;
    button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        margin: 20px 0 5px 0;
        outline: none;
        cursor: pointer;
        padding: 12px;
        i{
            font-size: 15px;
        }
        &:hover{
            background:$brand1;
            i{
                color: $white;
            }
        }
    }
    a{
        width: 100%;
        display: inline-block;
        text-decoration: none;
        color: $black2;
        font-size: 12px;
        &:hover{
            color: $brand1;
        }
    }
    .blogs-next{
        button{
            float: left;
        }
        &:hover{
            button{
                background:$brand1;
            }
            i{
                color: $white;
            }
            a{
                color: $brand1;
            }
        }
    }
    .blogs-prev{
        a{
            text-align: right;
        }
        button{
            float: right;
        }
        &:hover{
            button{
                background:$brand1;
            }
            i{
                color: $white;
            }
            a{
                color: $brand1;
            }
        }
    }
    .col-md-6{
        float: left;
    }
}
.comment{
    position: relative;
    margin: 20px 0;
    h2{
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: $black;
    }
    textarea{
        background: #f5f5f5;
        border: 1px solid #f5f5f5;
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
        height: 100px;
        &:focus{
            background: #fff;
            border: 1px solid #c3c3c3;
        }
    }
    input{
        background: #f5f5f5;
        border: 1px solid #f5f5f5;
        width:100%;
        font-size: 13px;
        padding: 10px;
        height: 35px;
        &:focus{
            background: #fff;
            border: 1px solid #c3c3c3;
        }
    }
    .form-group{
        padding: 0 5px !important;
    }
    .row{
        margin-left: -5px !important;
        margin-right: -5px !important;
    }

    button{
        padding: 5px 28px;
        background: $brand1;
        border: 1px solid $brand1;
        color: $white;
        float: right;
        border-radius: 0;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 500;
        &:hover{
            background: $brand1;
            border: 1px solid $brand1;
            color: $white;
            opacity: .8;
        }
    }
}
.tags{
    display: inline-block;
    margin: 20px 0;
    width: 100%;
    border-top: 1px solid #dfdfdf;
    padding-top: 15px;
    span{
        color: $black;
        font-weight: 700;

        margin-right: 10px;
        font-size: 12px;
    }
    a{
        color: $black2;
        font-size: 12px;
        padding:0 2px;
    }
}
.social-profile{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top:10px;
    a{
        padding: 0 10px 0 0;
        display: table-cell;
        i{
            font-size: 14px;
            color: #5b6065;
            width: 30px;
            height: 30px;
            display: inline-table;
            border-radius: 50%;
            background: #dfdfdf;
            padding: 4px;
            &:hover{
                color: $white;
            }
        }
        &:nth-child(1){
            i{
                &:hover{
                    background: #415a93;
                }
            }
        }
        &:nth-child(2){
            i{
                &:hover{
                    background: #3176b0;
                }
            }
        }
        &:nth-child(3){
            i{
                &:hover{
                    background: #4aa1eb;
                }
            }
        }
        &:nth-child(4){
            i{
                &:hover{
                    background: #eb3223;
                }
            }
        }
    }
}
.stt{
    color: green;
    float: left;
    left: 0;
    margin-top: 10px;
}
.comment-list{
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    ul{
        li{
            list-style: none;
            .avatar-comment{
                position: absolute;
                left: 0;
                top: 0;
                img{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
            }
            .infor-comment{
                width: 100%;
                strong{
                    font-weight: 700;
                    color: $black2;
                }
                p{
                    color: $black2;
                }
            }
            .comment-top1{
                position: relative;
                padding-left: 80px;
                margin-bottom: 40px;
                padding-top: 10px;
            }
            .comment-top2{
                position: relative;
                padding-left: 120px;
                padding-top: 10px;
                margin-bottom: 40px;
                .avatar-comment{
                    position: absolute;
                    left: 40px;
                    top: 0;
                }
            }
            .comment-top3{
                position: relative;
                padding-left: 190px;
                padding-top: 10px;
                margin-bottom: 40px;
                .avatar-comment{
                    position: absolute;
                    left: 110px;
                    top: 0;
                }
            }
            button{
                border-radius: 0;
                cursor: pointer;
            }
        }
    }
}
.reply{
    display: inline-block;
    width: 100%;
    .icon-reply{
        display: inline-block;
         margin-bottom: 10px;
        cursor: pointer;
        opacity: .7;
        width: 100%;
        font-size: 12px;
        i{
            font-size: 15px;
            color: $black;
        }
        &:hover{
            color: $brand1;
            i{
                color: $brand1;
            }
        }
    }
}
.box-reply{
    display: none;
    textarea{
        height: 65px;
    }
}
.show-box-reply{
    display: block !important;
    position: relative;
}
.field-name{
    position: absolute;
    bottom: -35px;
    left: 0;
    input{
        float: left;
        width: 45%;
        margin-right: 10px;
    }
}
.fixed{
    position: fixed;
    top: 0;
    right: 0;
}


.Phone {
    position: relative;
    display: block;
    margin: 0;
    width: 1em;
    height: 1em;
    font-size: 70px;
    background-color: $brand1;
    border-radius: 0.5em;
    box-shadow:
      0 0 0 0em rgba($brand1, 0),
      0em 0.05em 0.1em rgba(#000000, 0.2);
    transform: translate3d(0, 0, 0) scale(1);
  }
  
  .Phone::before,
  .Phone::after {
    position: absolute;
    content: "";
  }
  
  .Phone::before {
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    background-color: rgba(#fff, 0.1);
    border-radius: 100%;
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(0);
  }
  
  .Phone::after {
    top: 0.25em;
    left: 0.25em;
    width: 0.5em;
    height: 0.5em;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate3d(0, 0, 0);
  }
  
  .Phone.is-animating {
    animation: phone-outer 3000ms infinite;
    
    &::before {
      animation: phone-inner 3000ms infinite;
    }
    
    &::after {
      animation: phone-icon 3000ms infinite;
    }
  }
  
  @keyframes phone-outer {
    0% {
      transform: translate3d(0, 0, 0) scale(1);
      box-shadow:
        0 0 0 0em rgba(#3498db, 0),
        0em 0.05em 0.1em rgba(#000000, 0.2);
    }
    33.3333% {
      transform: translate3d(0, 0, 0) scale(1.1);
      box-shadow:
        0 0 0 0em rgba(#3498db, 0.1),
        0em 0.05em 0.1em rgba(#000000, 0.5);
    }
    66.6666% {
      transform: translate3d(0, 0, 0) scale(1);
      box-shadow:
        0 0 0 0.5em rgba(#3498db, 0),
        0em 0.05em 0.1em rgba(#000000, 0.2);
    }
    100% {
      transform: translate3d(0, 0, 0) scale(1);
      box-shadow:
        0 0 0 0em rgba(#3498db, 0),
        0em 0.05em 0.1em rgba(#000000, 0.2);
    }
  }
  
  @keyframes phone-inner {
    0% {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(0);
    }
    33.3333% {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(0.9);
    }
    66.6666% {
      opacity: 0;
      transform: translate3d(0, 0, 0) scale(0);
    }
    100% {
      opacity: 0;
      transform: translate3d(0, 0, 0) scale(0);
    }
  }
  
  @keyframes phone-icon {
    0% { transform: translate3d(0em, 0, 0); }
    2% { transform: translate3d(0.01em, 0, 0); }
    4% { transform: translate3d(-0.01em, 0, 0); }
    6% { transform: translate3d(0.01em, 0, 0); }
    8% { transform: translate3d(-0.01em, 0, 0); }
    10% { transform: translate3d(0.01em, 0, 0); }
    12% { transform: translate3d(-0.01em, 0, 0); }
    14% { transform: translate3d(0.01em, 0, 0); }
    16% { transform: translate3d(-0.01em, 0, 0); }
    18% { transform: translate3d(0.01em, 0, 0); }
    20% { transform: translate3d(-0.01em, 0, 0); }
    22% { transform: translate3d(0.01em, 0, 0); }
    24% { transform: translate3d(-0.01em, 0, 0); }
    26% { transform: translate3d(0.01em, 0, 0); }
    28% { transform: translate3d(-0.01em, 0, 0); }
    30% { transform: translate3d(0.01em, 0, 0); }
    32% { transform: translate3d(-0.01em, 0, 0); }
    34% { transform: translate3d(0.01em, 0, 0); }
    36% { transform: translate3d(-0.01em, 0, 0); }
    38% { transform: translate3d(0.01em, 0, 0); }
    40% { transform: translate3d(-0.01em, 0, 0); }
    42% { transform: translate3d(0.01em, 0, 0); }
    44% { transform: translate3d(-0.01em, 0, 0); }
    46% { transform: translate3d(0em, 0, 0); }
  }
  .phone-action{
      position: fixed;
      bottom: 25px;
      right: 15px;
  }
  .pagging-section{
      display: inline-block;
      margin:50px 0 30px 0;
      text-align: center;
      width: 100%;
      .pagination {
        display: -webkit-inline-box !important;
    }
      .page-link{
            border: 0 !important;
            background: none !important;
            color: $black;
            padding: 10px 15px !important;
            &.active{
                padding: 10px 15px !important;
                border: 1px solid #b2b2b2 !important;
            }
        }
  }